.suggestion{
    height: 40px;
    width: 232px;
    border-bottom: 1px solid red;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: larger;

    
}